.nav{
  display: flex;
  justify-content: space-around;
  background-color: red;
  height: 70px;
  align-items: center;
}
.links{
  margin: 15px;
  text-decoration: none;
  color: white;
}
a:hover{
  background-color: maroon;
  height: 70px;
}
.heading{
  text-align: center;
}